@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Lora", serif;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(3, 19, 250);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: none;
}
html {
  scroll-behavior: smooth;
}

/*Section 1*/

.section1 {
  background-image: url(./Images/bg1.1.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.navbar {
  display: flex;
  height: 10vh;
  background-color: #4d4d4d21;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}
.logo img {
  height: 30px;
  width: 30px;
  margin: auto 2vh;
}
.menu {
  margin: auto 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
  margin: auto 2vh;
}
.menu ul a {
  margin-left: 4vw;
  color: white;
  text-decoration: none;
}
.menu ul a:hover {
  -webkit-text-stroke: thick;
}
.menu input{
  display: none;
}
.menu label{
  z-index: 2;
}
.menu label i {
  color: white;
  display: none;
}

@media only screen and (max-width: 750px) {
  .menu {
    float: left;
    margin: auto 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu label i {
    display: block;
    margin: 1rem 1rem 0rem 11rem;
    font-size: 2rem;
    z-index: 2;
  }
  .menu ul a {
    display: block;
  }
  .menu ul a:hover {
    -webkit-text-stroke: thick;
  }
  .menu ul {
    display: none;
    margin: -4rem 0rem 0rem 3rem;
    flex-direction: column;
    padding: 50px 22px;
    line-height: 4rem;
    backdrop-filter: brightness(0.2);
    height: auto;
  }
  #cheking:checked ~ label i::before{
    content: "\f00d";
  }
}

.heading {
  color: white;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: calc(26vh + 10vw);
  font-size: 2rem;
}
.tag {
  font-size: 1rem;
}
.head {
  font-style: oblique;
  text-align: center;
}
.heading .btn {
  background-color: rgb(0, 89, 255);
  color: white;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
}
.heading a {
  color: white;
  text-decoration: none;
}
.heading a:hover {
  color: white;
}
.heading .btn:hover {
  background-color: rgba(0, 89, 255, 0.822);
  transform: scale(1.05);
  color: white;
}

/*Section 2*/

.section2 {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 100px;
  background-color: black;
}

.section2 img {
  width: 50vw;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
}
.sec2_content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 3vw;
  max-height: 100vh;
  background-color: #000000d9;
  border-radius: 20px;
  width: fit-content;
  border: 2px solid #ffc800b5;
  box-shadow: 0px 0px 17px 4px #004eff;
}
.section2 h1 {
  padding-top: 3vh;
  color: rgb(119, 0, 255);
  word-wrap: break-word;
  color: #5800ff;
}

.section2 p,
.section2 p #more {
  padding-top: 9vh;
  padding-top: 20px;
  word-wrap: break-word;
  padding: 0.5rem 0.9rem;
  font-size: 1.5rem;
  width: auto;
  font-weight: 500;
  color: white;
  text-shadow: 3px 4px 2px black;
}
@media only screen and (max-width: 1250px) {
  .section2 img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    object-position: center;
  }
  .sec2_content {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    margin: auto 2vh;
    max-height: 100vh;
    background-color: #00000096;
    backdrop-filter: blur(14px);
    padding: 1rem 2rem;
    border-radius: 20px;
    width: fit-content;
    box-shadow: inset 0px 0px 20px 8px #0000008a;
    border: none;
    overflow: overlay;
  }
  .section2 h1 {
    padding-top: 3vh;
    color: rgb(119, 0, 255);
    word-wrap: break-word;
    color: white;
  }
  .section2 p {
    padding-top: 9vh;
    padding-top: 20px;
    word-wrap: break-word;
    font-size: 1.5rem;
    width: auto;
    font-weight: 500;
    color: white;
    text-shadow: 3px 4px 2px black;
  }
}

#more {
  display: none;
}
#myBtn {
  padding-top: 0.5vh;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
  margin-top: 2px;
  cursor: pointer;
  outline: none;
  border: none;
}

/* Covid 19 status */

.covid-status {
  width: 100vw;
  height: auto;
  background-image: linear-gradient(45deg, #ff6c00, #ef00ff8f);
  border-radius: 30px;
  margin: 2rem auto;
  padding: 4rem;
  color: white;
}
.covid-status #select {
  background-color: white;
  color: blue;
  border: 1px solid black;
  border-radius: 20px;
  min-width: 9vh;
}
.covid-status h1 {
  text-align: center;
  font-weight: 900;
}
.covid-status h2 {
  font-weight: 300;
  text-align: center;
}
.data-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}
.data-box p {
  height: 150px;
  border: 1px solid white;
  width: 150px;
  background-color: #30303096;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 1rem;
  color: white;
}
.data-box p#totalDeaths {
  background-image: linear-gradient(222deg#fa6e3f -20%, #1100ffa3 123%);
}
.data-box p#totalRecoverd {
  background-image: linear-gradient(222deg, #36ff04 -20%, #1100ffda 123%);
}
.data-box p#totalConfirmed {
  background-image: linear-gradient(222deg, #fbff04 -20%, #1100ffda 123%);
}
.data-box p#newCases {
  background-image: linear-gradient(235deg, #04f5ffbd 0%, #1100ff96 114%);
}

/*Section 3*/

#section3 h1 {
  color: #0421ff;
  text-align: center;
  text-shadow: 1px 1px 5px #2f2f2fdb;
}
.all-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card-container {
  width: 48vw;
  border-radius: 5px;
  box-shadow: 1px 2px 14px 0px #2f2f2fe6;
  overflow: hidden;
  margin: 2vh auto;
  height: 665px;
}
.img-container {
  width: 100%;
  height: auto;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-container h4,
p {
  padding: 2.5px 2vh;
  font-size: larger;
}
.card-container h4 {
  margin-top: 10px;
}
@media only screen and (max-width: 1165px) {
  .card-container {
    width: 100vw;
    border-radius: 5px;
    box-shadow: 1px 2px 20px 1px #2f2f2fe6;
    margin: 2vh;
    height: auto;
  }
}

/*Section 4 */

#section4 h1 {
  color: #0421ff;
  text-align: center;
  text-shadow: 1px 1px 5px #2f2f2fdb;
}

#section4 #content2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: scroll;
}

/*Final section */

#fin_sec {
  height: 100vh;
  width: 100vw;
}
.fin_img {
  background-image: url(./Images/fin_sec.jpg);
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form_data {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: 2rem auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.219);
  backdrop-filter: blur(15px);
}
#form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}
#form h1 {
  padding: 1rem 2rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}
.form-group {
  margin: auto;
  padding-bottom: 30px;
}
#form label {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff8f8;
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
  padding: 5px 0px;
}
#form select ,#form input{
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  min-width: 100%;
  cursor: pointer;
}
.result {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: 2rem auto;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
}
.result h4 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #0421ff;
}
.result .details {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}
.about {
  margin-top: 0vh;
  height: auto;
  width: 100vw;
  border: 1px solid black;
  color: #fff;
  flex-grow: 20;
  backdrop-filter: brightness(0.1);
}
.about-logo {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
}
.about-logo img {
  width: 60px;
  height: 60px;
}
.about-logo h1 {
  padding-left: 2rem;
}
.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.about-box h4 {
  text-align: center;
  color: orange;
}
span {
  font-size: small;
  text-align: center;
}
.help-line a ,.help-line a p ,.links a ,.social-media a {
  color: white;
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  font-size: larger;
}
.links a {
  display: flex;
}
.social-media a {
  display: flex;
  align-items: center;
  right: 0;
}
.social-media i {
  margin: 8px;
}
.insta {
  color: #ea00ff;
}
.face {
  color: blue;
}
.whtapp {
  color: green;
}
.email {
  color: orange;
}
.email .form2 {
  width: fit-content;
  margin: 0vh 0vh 4vh 0vh;
  padding: 20px 5px;
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0.5px rgb(0 255 243 / 88%);
}
.form2 h4 {
  margin-bottom: 30px;
  font-size: 20px;
  margin: auto 9vh;
  color: black;
}
.form-all {
  padding: 0px 2rem;
}
.email .form2 .form-group {
  display: flex;
  width: 249px;
  flex-direction: column;
  /* margin: 25px auto; */
  position: relative;
}
.form2 .form-group input {
  border: none;
  padding: 7px;
  margin-top: 5px;
  outline: none;
  border-bottom: 1px solid #c9c9c98a;
}
.form2 .form-group label {
  color: rgb(165, 165, 165);
  position: absolute;
  top: 10px;
  transition: 0.5s ease-in-out;
}
.form2 .form-group label:hover {
  color: #ff00ff;
  top: -10px;
  font-size: 12px;
}
.form2 .form-group input:focus ~ label,
.form2 .form-group input:valid ~ label {
  color: #ff00ff;
  top: -10px;
  font-size: 12px;
}
.form-submit {
  width: inherit;
  height: max-content;
  color: white;
  font-size: medium;
  background-color: #004eff;
  border-radius: 20px;
  padding: 1rem 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.help-line, .links, .social-media, .email{
  margin-top: 2rem;
}
@media only screen and (max-width: 1100px) {
  .about-box {
    flex-direction: column;
    align-items: center;
  }
  .links a {
    justify-content: center;
  }
}
.copyright {
  width: 100vw;
  height: min-content;
  display: flex;
  justify-content: center;
  color: #969696;
  background-color: rgba(48, 34, 26, 0.863);
}
.copyright p {
  margin: 0.5%;
}
.copyright a {
  text-decoration: none;
  color: #0094ff;
  font-weight: 500;
}
